body {
    display: flex;
flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
   ;
}

.footer, .header {
    height: 80px;
    background-color: #1F2937;
    
}
.footer {
    text-align:center;
    color: ghostwhite;
}


